@charset "UTF-8";
/* CSS Document */


/* Dispositivos pequenos (celulares em modo retrato) */
@media print { 
  * {
    font-family: 'Courier New', Courier, monospace;
  }
  img#iphone {display: none;}
  img#tablet {display: none;}
  img#print {display: block;}
  img#pc {display: none;}
  img#tv {display: none;}

  
}


/* Dispositivos médios (tablets) */
@media screen and  (min-width: 601px) and (max-width: 900px) { 
  body {
    background-image: url(../img/back-tablet.jpg);
  }
  img#iphone {display: none;}
  img#tablet {display: block;}
  img#print {display: none;}
  img#pc {display: none;}
  img#tv {display: none;}
}

/* Dispositivos grandes (laptops/desktops) */
@media screen and (min-width: 901px) and (max-width: 1200px) { 
  body {
    background-image: url(../img/back-pc.jpg);
  }
  img#iphone {display: none;}
  img#tablet {display: none;}
  img#print {display: none;}
  img#pc {display: block;}
  img#tv {display: none;}
} 

/* Telas muito grandes */
@media screen and (min-width: 1201px) { 
  body {
    background-image: url(../img/back-tv.jpg);
  }
  img#iphone {display: none;}
  img#tablet {display: none;}
  img#print {display: none;}
  img#pc {display: none;}
  img#tv {display: block;}
}

