/* Reset CSS */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Rowdies:wght@300;400;700&family=Teko:wght@300..700&display=swap');
@font-face {
  font-family: Android;
  src: url(fonts/idroid.otf) format(opentype);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #3294a5f1;
  font-family: "Maven Pro", serif;
  font-weight: 500;
}

header {
  display: block;
  height: 9em;
  width: 100%;
  text-align: center;
  padding: 10px 25px 2px 10px;
  background: linear-gradient(-185deg, rgba(25,121,142,0.9960361356932154) 60%, rgba(0,0,0,1) 130%);
  color: #ffffff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.336)
}

h1 {
  font-family: "Rowdies", serif;
  margin-bottom: 0.5em;
  font-size: 2.5em;
}

nav {
  margin-top: 2em;
  text-align: left;
}

a {
  margin: 0 1em;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
}

a:hover {
  color: rgb(46, 202, 223);
}


main {
  margin: 0.1em 12em;
  background-color: white;
  border-radius: 0 0 10px 10px;
  box-shadow:  5px 10px rgba(0, 0, 0, 0.507);
}

section {
  padding: 2em;
  text-align: justify;
}

h2 {
  font-family: "Android", serif;
  background-image: linear-gradient(to right, #35ccc4, #ffffff);
  margin: 0.8em 0;
  text-align: left;
}

.artigo-imagem {
  margin: 20px 0;
  text-align: center;
}
.video {
  background-color: #35ccc4;
}

.aprenda-mais {
  background-color: #35ccc4;
  border-radius: 0 0 10px 10px;
  padding: 1em 2em;
}

h3 {
  background-color: #3294a5f1;
  padding: 10px;
  color: #ffffff;
  border-radius: 10px 10px 0 0;
}

.aprenda-mais_lista {
  display: flex;
  gap: 10em;
}

ul {
  list-style-type: none;
  margin: 1em 0;
}

.link-android {
  margin: 0;
  color: #325055;
}

.link-android:hover {
  color: #182c50;
}

.espaco-paragrafo {
  margin-top: 1em;
}

footer {
  background-color: #35ccc4;
  text-align: center;
  margin-top: 1em;
  padding: 10px
}