    /* Definindo o estilo gerais */
    * {
        margin: 0;
        padding: 0;
      }

      html, body {
        height: 100vh;
        width: 100vw;
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
      }

      h1 {
        color: white;
        padding: 20px;
        text-shadow: 3px 3px 5px rgba(10, 43, 49, 0.5);
      }
    /* Estilo para telas retrato */
    @media screen and (orientation: portrait) {
      body {
        background-image: url(img/cev-portrait.jpg);
        background-position:  center bottom;
      }
    }

    /* Estilo para telas retrato */
    @media screen and (orientation: landscape) {
      body {
        background-image: url(img/cev-landscape.jpg);
        background-position:  left top;
      }
    }